################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SharpDXVideoPlayer/bin
/SharpDXVideoPlayer/obj
*.suo
