<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Preferred width of the backbuffer -->
    <add key="PreferredBackBufferWidth" value="3840"/>
    <!-- Preferred width of the backbuffer -->
    <add key="PreferredBackBufferHeight" value="2160"/>
    <!-- Preferred refreshrate in Hertz -->
    <add key="PreferredRefreshRate" value="60"/>
    <!-- Flag indicating if we want to use anti aliasing -->
    <add key="AntiAliasing" value="true"/>
    <!-- DirectX9 only workaround for crash of TransferVideoFrame -->
    <add key="DirectX9Only" value="true"/>
    <!-- Name of the video to play. Note: Video is expected to be in the Videos folder. -->
    <add key="Video" value="bbb_sunflower_2160p_30fps_normal.mp4"/>
  </appSettings>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
